.row
  .col-md-12
    h3 Next #{scheduleArr.transport.mode} from #{scheduleArr.transport.origin} in
      span#countdown

table#timetable.table.table-condensed.col-md-12
  thead
    th From
      h4 #{scheduleArr.transport.origin}
      p Mon-Fri (except PH)
    th From
      h4 #{scheduleArr.transport.destination}
      p Mon-Fri (except PH)
    th From
      h4 #{scheduleArr.transport.origin}
      p Weekends &
      p Public Holidays
    th From
      h4 #{scheduleArr.transport.destination}
      p Weekends &
      p Public Holidays
  tbody
    tr
      td.weekday.origin
        each val in scheduleArr.transport.schedule.fromOriginWeekdays
          p= val
      td.weekday.destination
        each val in scheduleArr.transport.schedule.fromDestinationWeekdays
          p= val
      td.weekend.origin
        each val in scheduleArr.transport.schedule.fromOriginWeekendsAndPh
          p= val
      td.weekend.destination
        each val in scheduleArr.transport.schedule.fromDestinationWeekendsAndPh
          p= val

