extends layout

block content
  .row
    #countdown.col-md-12
    #transport.col-md-2
      h2 Transport information
      #ferry
        h3 Ferry
        each val, index in transportArr
          - var mode = (val.transport.mode)
              if mode == "Ferry"
                a(href= "/transport/#{val._id}" ) #{val.transport.origin} <> #{val.transport.destination}
      #bus
        h3 Bus
        each val, index in transportArr
          - var mode = (val.transport.mode)
              if mode == "Bus"
                a(href= "/transport/#{val._id}" ) #{val.transport.origin} <> #{val.transport.destination}

    #schedule.col-md-10
  .row
    .col-md-12
