extends layout

block content
  .row
    #transport.col-md-3
      h1 Transport information
      #ferry
        h3 Ferry
        each val, index in transportArr
          - var mode = (val.transport.mode)
            if mode == "Ferry"
              a(href= "/transport/#{val._id}" ) #{val.transport.origin} <> #{val.transport.destination}
      #bus
        h3 Bus
        each val, index in transportArr
          - var mode = (val.transport.mode)
              if mode == "Bus"
                a(href= "/transport/#{val._id}" ) #{val.transport.number} #{val.transport.origin} <> #{val.transport.destination}

    //- .col-md-6
    //-   h3 Next #{transportArr.transport.mode} from #{transportArr.transport.destination} in  mins

    #schedule.col-md-9
